@charset "utf-8";

/* 선택자의 종류
1. 요소(타입,태그) 선택자 (: 태그 이름)
2. 그룹 선택자 ; , 사용
*/

h1, p, div, a, span{
    background: green;
}

p {
    background: purple;
}

/* div의 배경색을 노랑 */
div {
    background: yellow;
}

/* body의 여백을 0으로 cf) 기본 여백은 8px정도 */
/* 숫자 0만 단위 생략 가능 */
body{
    margin: 0;
}

