@charset "utf-8";

/*
.div1, .div2, .div3, .div4 {
    width: 1200px;
}
*/


div{
    width:1200px;
    margin:0 auto; /* 콘텐츠를 가로 가운데 배치 margin:위아래 좌우*/
}

.div1 {
    background: aquamarine;
    height: 100px;
}
.div2 {
    background: beige;
    height: 300px;
}
.div3 {
    background: coral;
    height: 200px;
}
.div4 {
    background: darkorchid;
    height: 100px
}

