@charset "utf-8";

/* @ : '엣' 이라고 읽음 */

/* 부모에 display:flex 지정하면 부모는 플렉스 컨테이너, 자식만 플렉스 아이템 */

/* 플렉스 컨테이너 : width :auto;(기본 100%) */
.wrap {
    display: flex;
}

/* 플렉스 아이템 : width : auto; */
.header {
    width: 200px;
    background: #999;
}

.right_wrap {
    width: 1000px;
}

.slide {
    background: #eee;
    height: 400px;
}

.banner {
    background: #ccc;
    height: 200px;
}

.notice {
    background: #aaa;
    height: 250px;
}



