@charset "utf-8";

/*
div {
    border: 1px solid #333; => 굵기랑 선색은 안쓰면 검정 medium(1.2px)이 기본! 
    border-bottom : 1px solid #333  => 이렇게 쓰면 밑줄처럼 사용가능 
    } 
*/

/*
가상클래스 선택자 
1. nth-of-type(숫자) => 선택자:nth-of-type(몇번째) : div:nth-of-type(2) : body안에 들어있는 두번째 div를 의미한다. n은 숫자, 수열
2. nth-child : (몇번째 자식)

*/

/* 
선택자
1. 요소 => 태그명
2. 클래스 => .이름
3. 그룹 => ,
4. 하위 => 부모자식 (손자)
5. 가상 클래스 선택자 => 선택자 :
*/

div{
    margin : 20px;
}

div:nth-of-type(1)
{
    padding-left :16px;
    padding-bottom : 4px;
    border-left : solid 5px;
    border-bottom : 1px dotted;
}

div:nth-of-type(2)
{
    border-bottom-width:1px;
    border-bottom-style:dotted;

    /* 테두리 색을 지정하지 않으면 글자색으로 지정되고, 글자색도 지정하지 않으면 기본인 검정색! */
    color:blue;
    border-bottom : 1px dotted;
}

div:nth-of-type(3)
{
    border : 1px dashed red; /* 속기형 */

    /* 
    border-width : 1px;
    border-style : dashed;
    border-color:red; 
    */
}

div:nth-of-type(4)
{
    border: 1px solid red;
    outline : 1px solid lime; /* outline은 border 바깥 쪽에 있는 외곽선이고, 상하좌우를 개별적으로 지정할 수 없다. */
    outline-offset:10px; /* outline이랑 border사이의 갭 */
}
