@charset "utf-8";

:root{
    font-size: 10px;

    --white: #fff;
    --black: #000;
    --gray1: #111;
    --gray3: #333;
    --graya: #aaa;
    --grayc:#ccc;
    --pink:#F0A7AA;
    --s_pink:#E16C71;
}

body{
    font-family:"Noto Sans KR", sans-serif;
    font-size: 1.5rem;
    color:var(--gray3);
}



h1, h2, h3{
    font-family: "NanumSquareNeo", sans-serif;
}
/* h태그는  */
h1{
    font-size: 1.5rem;
}

/* 섹션제목 */
/* h2의 글자 크기 기본값은 부모 요소 크기의 1.5배(1.5em) */
h2{
    /* 2.4rem은 html(:root)의 2.4배, 따라서 :root에서 font-size 10px로 지정했으므로 2.4rem은 24px */
    font-size: 3.6rem;
    color:var(--pink);
}

/* a태그는 글자색 상속받지 않으므로 따로 지정 */
a{
    color:var(--gray1);
}

/* input, button, ::placeholder는 글자색, 글자크기, 글꼴 등을 상속받지 않음 */
input{
    font-size: 1.5rem;
    font-family: "Noto Sans KR", sans-serif;
    border:1px solid var(--pink);
}

::placeholder {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 1.5rem;
    color: var(--graya);
}

button {
    font-size: 1.5rem;
    color: var(--white);
    font-family: "Noto Sans KR", sans-serif;
}

/* header */
.logo{
    letter-spacing:4px;
    font-weight: normal;
    font-size: 1.5rem;
}

/* section1 */
#sec1 h2{
    letter-spacing:4px;
    font-weight: 400;
    color:var(--white);
}

#sec1 b{
    color:var(--white);
}

/* section2 */
#sec2 h3{
    color:var(--pink);
}

/* section 3,4 */
#sec3 p, #sec4 p{
    color:var(--s_pink);
}
/* section3 */
#sec3 h3{
    font-size: 2.4rem;
    color:var(--s_pink);
}

#sec3 p:first-of-type{
    /* 
        fluid(유동형), flexible(유연한) 디자인 => 반응형 디자인
            1. 미디어 쿼리
            2. 단위 변경: % 또는 vw, vh, ... => 이게 더 자연스러움

            1903 : 15 = 100 : x
            x = 0.788...
    */
    font-size: max(0.8vw,1.2rem);
}

#sec3 a{
    color:var(--white);
}

@media (min-width:768px){
    #sec3 p:first-of-type{
        font-size: 1.5rem;

}
}

@media (min-width:992px){
    #sec3 p:first-of-type{
        font-size: 1.5rem;

}
}

/* section4 */
/* footer */
footer{
    color:var(--white);
}

/* 배경색 */

body{
    background: var(--white);
}

/* header */
header{
    background: var(--white);
}
/* section1 */
#sec1 b{
    background: rgba(0,0,0,0.786);
}


/* section2 */
#sec2 h3:hover{
    background: #f0a7a967;
    color:var(--white);
}

/* section3 */
#sec3 a{
    background: var(--pink);
}

/* section4 */
#sec4 button{
    background: var(--pink);
}

/* footer */
footer{
    background: var(--pink);
}