@charset "utf-8";

body *{
    outline: 1px solid skyblue;
}

/* common */
body{
    margin: 0;
    color:#333;
    background: #fff;
}

header{
    height: 100px;
    width: 1340px;
    margin: 0 auto;
}

#slide{
    height: 350px;
}

.container{
    width: 1340px;
    margin: 0 auto;
    position:relative;
    top:-100px;
}

#link{
    height: 100px;
    background: #e31a40;
}

#banner{
    height: 150px;
}

#board{
    height: 300px;
}

footer{
    height: 100px;
}
