@charset "utf-8";


/* reset (초기화) */
body, ul, h1, h2 
{
    margin: 0;
}

ul
{
    padding:0;
    list-style-type: none;
}

a{
    text-decoration: none;
    /* 링크 밑줄 제거 */

}

img{
    width: 100%; /* %는 항상 부모 기준 */
}