@charset "utf-8";

/* reset */
* {
    box-sizing: border-box;
}

body, ul, p{
    margin:0;
}

ul{
    padding:0;
    list-style:none;
}

a{
    text-decoration:none;
    color:#333;
}

img{
    vertical-align:top;
}


/* common */
#wrap{
    width: 1200px;
    margin: 0 auto;
}

body{
    font-size: 14px;
    line-height:1.6;
    background:#ffffff;
    color:#333;
}

/* header */
header{
    /* Q1. 얘를 해주니까 이미지 밑으로 가려졌던 네비게이션 메뉴들이 이미지 위로 올라왔는데 왜 그런건가요 z-index하기 전부터 z-index를 하려고 position을 써준건가요 ??*/
    position:relative;
    z-index: 1;
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding: 0 24px;
    height: 100px;
}

/* nav */
/* 1depth */
#gnb .main{
    display: flex;
    font-size: 16px;
    font-weight: bold;
}

/* Q2. 얘는 메인메뉴 li만 말하는거아닌가요?? 서브메뉴 li도 tac가 적용되는건 상속받아서 그런가요? */
#gnb .main>li{
    width: 160px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

#gnb .main>li:hover{
    background: #333;
}

#gnb .main>li:hover>a {
    color:#ccc;
}

/* 2depth */
#gnb .sub{
    /* Q3. height:0하고 overflow:hidden하는거랑 visibility:hidden하는거랑 opacity:0하는거랑 다 똑같은 기능인데 왜 세개 다 쓰나요 */
    height: 0;
    /* Q4. height:0하고 overflow:hidden하기 전에 왜 높이 조금 가지나요? */
    overflow:hidden;
    visibility:hidden;
    opacity:0;

    padding: 10px 0 20px;
    background: rgba(0, 0, 0, .5);
    transition: .3s;
    line-height:2;
    font-size: 14px;
    font-weight: normal;
}

#gnb .main:hover .sub{
    height: 150px;
    visibility:visible;
    opacity:1;
}

#gnb .sub li a{
    padding: 4px 16px;
    color:#ccc;
}

#gnb .sub li:hover a{
    background: #111;
    color:#fff;
}

/* slide */
#slide{
    overflow:hidden;
    height: 300px;
}

#slide ul{
    /* Q5. 이건 왜 쓰신거져?? */
    position: relative;
    top:0;
    animation: slide 6s infinite;
}

@keyframes slide{
    0%{
        top:0;
    }
    10%{
        top:-100%;
    }
    33%{
        top:-100%;
    }
    43%{
        top:-200%;
    }
    66%{
        top:-200%;
    }
    76%{
        top:-300%;
    }
    99.99%{
        top:-300%;
    }
    100%{
        top:0;
    }
}

/* modal popup */
#modal{
    display: none;
    position:fixed;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    z-index: 2;
}

#modal .popup{
    position:absolute;
    left:50%;
    top:50%;
    margin:-175px 0 0 -300px;
    background: #fff;
    width: 600px;
    height: 350px;
    border: 1px solid #ccc;
    padding: 20px;
}

#modal .popup p{
    margin:20px;
    line-height:2;
}

#modal .popup button{
    position:absolute;
    right:24px;
    bottom:24px;
    margin-top: 100px;
    padding: 5px 10px;
}

/* main contents */
#main_contents{
    display: flex;
    padding-top: 10px;
}

.banner{
    margin: 0 20px;
}

/* tabs */
/* tabs button */
#tabs{
    position:relative;
    width: 400px;
}

#tabs>ul{
    display: flex;
    margin-left: 20px;
}

#tabs>ul li:first-child{
    border-left:1px solid #ccc;
}

#tabs>ul li{
    z-index: 0;
    position:relative;
    border: 1px solid #ccc;
    border-bottom:none;
    border-left:none;
    padding:8px 10px;
    background: #999;
}

#tabs>ul li.on{
    z-index: 1;
    background: #fff;
}

/* tabs common contents */
#tabs>div{
    position:absolute;
    width: 100%;
    top: 38px;
    display:none;
    border: 1px solid #ccc;
    padding: 16px 20px;
}

#tabs>div.on{
    display:block;
}

/* notice */
#tab1 li{
    line-height:1.8;
}

#tab1 a{
    display:inline-block;
    width: 280px;
    text-overflow: ellipsis;
    overflow:hidden;
    text-wrap:nowrap;
    padding-right:24px;
    vertical-align:middle;
}

/* gallery */
#tab2{
    padding: 17px 20px;
}

#tab2 img{
    width: 110px;
}

#tab2 a:nth-of-type(2) {
    margin:0 8px;
}

/* footer */
footer{
    display: flex;
    align-items:center;
    text-align: center;
    height: 100px;
    background: #777;
}

.flogo{
    width: 260px;
}

.copy{
    width: 680px;
}

.sns {
    width: 260px;
    margin-top: 10px;
}

.sns li{
    display:inline-block;
}