@charset "utf-8";

/* reset */

*{
    box-sizing: border-box;
}

body, ul, p{
    margin: 0;
}

ul{
    list-style:none;
    padding:0;
}

a{
    text-decoration: none;
    color:#333;
}

img{
    vertical-align:top;
    /* object-fit:cover; */
}

/* common */
#wrap{
    width: 1200px;
    margin: 0 auto;
}

body{
    font-size: 14px;
    line-height:1.6;
    background: #fff;
    color:#333;
}

/* header */
header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding:0 24px;
    height: 100px;
    position:relative;
    z-index: 1;
}

/* nav */

/* 1depth */
#gnb .main{
    display: flex;
    font-size: 16px;
    font-weight: bold;
}


#gnb .main>li{
    width: 160px;
    height: 30px;
    text-align: center;
    line-height:30px;
}

#gnb .main>li:hover {
    background: #333;
}

#gnb .main>li:hover>a{
    color:#ccc;
}

/* 2depth */
#gnb .sub{
    opacity:0;
    height: 0;
    overflow:hidden;
    visibility: hidden;

    padding:10px 0 20px;
    background: rgba(0,0,0,.5);
    transition: .3s;
    line-height: 2;
    font-size: 14px;
    font-weight: normal;
}

#gnb .main:hover .sub{
    opacity:1;
    height: 150px;
    visibility:visible;
}

#gnb .sub li a{
    padding:4px 16px;
    color:#ccc;
}

#gnb .sub li:hover a{
    background: #111;
    color:#fff;
}

/* slide */
#slide{
    border:5px solid red;
    /* overflow:hidden; */
    height: 300px;
}

#slide ul{
    border:5px solid lime;
    position:relative;
    top:0;
    animation: slide 6s infinite;
}

@keyframes slide{
    0%{
        top:0;
    }
    10%{
        top:-100%;
    }
    33%{
        top:-100%;
    }
    43%{
        top:-200%;
    }
    66%{
        top:-200%;
    }
    76%{
        top:-300%;
    }
    99.99%{
        top:-300%;
    }
    100%{
        top:0;
    }

}