@charset "utf-8";

@font-face {
    font-family: "HSSanTokki20-Regular";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2405@1.0/HSSanTokki20-Regular.woff2");
}

body {
    /* 폰트이름 적기 */
    font-family: "HSSanTokki20-Regular", sans-serif;
    margin: 0;
}

/* 섹션1 */
#clock {
    position: absolute;
    right: 2%;
    bottom: 2%;
}

/* 날짜 */
#clock .ddate {
    font-size: 1.8rem;
    margin-bottom: 8px;
    color: #9b9b9b;
    text-shadow: 0 0 2px #290101;
    font-family: "HSSanTokki20-Regular", sans-serif;

}
/* 시간 */
#clock .dtime {
    font-size: 3rem;
    font-weight: 300;
    color: #9b9b9b;
    text-shadow: 0 0 2px #290101;
    font-family: "HSSanTokki20-Regular", sans-serif;
}

/* span의 크기를 지정하여 움직임 방지 */
#s1 #clock .dtime span {
    display: inline-block;
    width: 50px;
}

/* 시간의 : 표시 */
#clock  .dtime span:not(:last-child)::after {
    content: " :";
}
