@charset "uft-8";

@import url(reset.css);
@import url(typo.css);


/* 공통 */
.inner{
    width: 1120px;
    margin:0 auto;
}

/* 섹션2 */
#s2 {
    padding: 72px 0;
}

#s2>.inner>h2 {
    text-align: center;
}

#s2>.inner>h2+p {
    text-align: center;
    margin: 24px 0 48px;
}

/* 탭(버튼, 콘텐츠) 공통*/

/* li를 가로배치 하기 위해 부모한테 df적용 */
/* df는 wrap이 no-wrap이 기본이라 사이즈가 크면 다음줄로 넘어감 */
#s2 #tabs {
    position: relative;
}
#s2 #tabs ul{
    display: flex;
    /* 교차축 정렬 중 align-items를 flex-end하면 아래에 붙이기 */
    align-items: flex-end;
}

/* 탭의 버튼 */
#s2 #tabs>ul{
    position:absolute;
    /* 오른쪽으로 보내려고 */
    width: 474px;
    right:0;

}

#s2 #tabs>ul>li:not(:first-child){
    margin: 0 16px;
}

/* 탭의 콘텐츠*/

/* ul높이 */
#s2 #tabs>div ul{
    height: 432px;
}

#s2 #tabs>div ul li:nth-child(1){
    align-self: flex-start;
    /* 1위 사진 위쪽으로 붙이기 */
}

/* 왜 div써주는지다시보기  */
#s2 #tabs>div ul li:nth-child(2){
    margin: 0 30px 0 75px;
}

#s2 #tabs>div ul li{
    height: 216px;
}

#s2 #tabs>div a{
    /* a태그는 인라인이라 w,h 적용되지 않음 따라서 df,블록, 인라인블록으로 해야 지정가능 */
    display: block;
    width: 222px;
    height: 168px;
}

#s2 #tabs>div a.rank1{
    display: block; /* 위에서 써서 안써도됨 */
    width: 570px;
    height: 432px;
}

#s2 #tabs>div a.rank1+h3{
    position:absolute;
    width: 474px;
    height: 48px;/* 왜 안되지 */
    right:0; /* 오른쪽기준 */
    top:48px;
    text-wrap:nowrap;/* 강제 줄바꿈 제거한 것 */
}

