@charset "uft-8";

@import url(reset.css);
@import url(typo.css);

.inner{
    width: 1120px;
    margin: 0 auto;
}

#s2{
    padding: 72px 0;
}

/* '베스트셀러' */
#s2>.inner>h2 {
    text-align: center;
}

/* '이번주 베스트 셀러입니다. */
#s2>.inner>h2+p{
    text-align: center;
    margin: 24px 0 48px;
}

/* 탭 전체 */
#s2 #tabs {
    position: relative;
}

#s2 #tabs ul{
    display: flex;
    align-items: flex-end;
}

/* 탭 버튼 */
#s2 #tabs>ul{
    position:absolute;
    width: 474px;
    right:0;
}

/* 탭 중에 간식, 장난감, 방석 탭만 */
#s2 #tabs>ul>li:not(:first-child){
    margin: 0 16px;
}

#s2 #tabs>ul>li{
    margin: 0 16px;
}

/* 탭 콘텐츠 */
#s2 #tabs>div ul{
    height: 432px;
}

/* 1위 사진 위쪽으로 붙이기 */
#s2 #tabs>div ul li:nth-child(1){
    align-self: flex-start;
}

/* 2위 사진 */
#s2 #tabs>div ul li:nth-child(2){
    margin: 0 30px 0 75px;
}

/* li 3개 다 */
#s2 #tabs>div ul li{
    height: 216px;
}
/* 그림이랑 그림제목 */
#s2 #tabs>div a{
    display:block;
    width: 222px;
    height: 168px;
    /* background: blue; */
}

/* 1위 사진인거같은데 영향을 안받아요  */

#s2 #tabs>div a.rank1{
    width: 570px;
    height: 432px;
    background: yellow;
}

/* 1위 사진 그림제목부분 */
#s2 #tabs>div a.rank1+h3{
    position:absolute;
    width: 474px;
    height: 48px;
    right:0;
    top: 48px;
    text-wrap: nowrap;
    /* background: red; */
    /* 인식이 안됨 */
}

/* 탭 기능 핵심*/
#s2 #tabs>div{
    display: none;
}

#s2 #tabs>div.on{
    display: block;
}