@charset "utf-8";

/* header */
header {
    display: flex;
    justify-content: space-between;
    /* 하나는 왼쪽 하나는 끝쪽으로 감 */
    height: 56px;
    line-height: 56px;
    padding: 0 36px;

}

nav li{
    display:inline-block; 
    /* 가로배치하는 제일 간단한 방법 */
    padding-left: 36px;
}

/* Section의 공통부분 */
section {
    width: 1500px;
    margin: 0 auto;
}

h2 {
    border-bottom: 1px solid #ccc;
    padding: 24px 0;
    margin-bottom: 48px;
    margin-top: 64px;
}

/* section1 */
.s1 {
    height: 745px;

}

.s1 h2 {
    border: none;
    /* 밑줄제거 */
    margin: 0;
    /* 위쪽 여백 제거 */
}

.s2 ul {
    display: flex;
    /* 부모를 display: flex */
    flex-wrap: wrap;
}

/* section2 */
.s2 li {
    width: 360px;
    height: 240px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.s2 li:nth-of-type(4n) {
    margin: 0;
}

.s2 h3 {
    display: inline-block;
    padding: 8px 24px;
}

/* section3 */
/* section4 */
/* footer */