@charset "utf-8";

/* 본문한글은 구글폰트 중 Noto sans kr, 
   본문영문은 Noto sans,본문 글꼴은 body,  */


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');



/* 제목은 눈누폰트 나눔스퀘어 네오 */
@font-face {
    font-family: 'NanumSquareNeo';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2');
}

html {font-size:10px;}

body {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 1.5rem;
    color:#333;
    /* 폰트 사이즈가 10일때 애는 1.5rem이 됨 */
  }

h1 {
    font-weight: normal;
}

h1, h2, h3 {
    font-family: "NanumSquareNeo", sans-serif;
  }

h1, h3 {
    font-size: 1.5rem;
}

h2 {
    font-size: 2.4rem;
}


a {
    color:#111;
}

