@charset "utf-8";


*{
    box-sizing: border-box;
}

#signup h2{
    text-align: center;
    height: 80px;
    padding:20px 0;
}

form{
    font-size: 15px;
}

#signup .signup_cnt{
    width: 1400px;
    margin: 0 auto;
    border-top:1px solid black;
    padding: 50px 0;
    
}


#signup .signup_cnt label{
    display:inline-block;
    margin-right:150px; 
    width: 190px; 
    background: blue;
}

/* 평생회원, 약관동의 label은 따로 하고싶음 */
#signup .signup_cnt .long label{
    background: orange;
}


/* 얘는 왜 적용이 안되져.. */
#signup .signup_cnt .des label{
    margin-left:30px;
    background: yellow;
}

#signup .essential::before{
    content:"◦";
    color:red;
}

#signup .common {
    width: 30vw;
    height: 40px;
    font-size: 16px;
    border:1px solid #ccc;
    border-radius:10px;    
}

#signup .tel1{
    display: flex;
    background: green;
}

#signup .agree{
    background: pink;
}