@charset "uft-8";

@import url(reset.css);
@import url(typo.css);


/* 공통 */


/* 
    뷰포트(컨텐츠가 실제 표현되는 영역,창)를 표현하는 단위 4가지
    1. vw
    2. vh
    3. vwin
    4. vmax
*/

/* 섹션 가득차게 블록레벨 요소라 가로는 가득찼는데 세로는 가득 안찼으므로 height:100vh => 창 전체*/
/* 가로, 세로의 %는 부모 기준 */
section {
    height: 100vh;
    background: url(./../assets/s4_bg.png) no-repeat -285px 0/cover; /* 좌우 상하 */
    
}

.ibx {
    display: flex;
    align-items: center;
    width: 1120px;
    margin: 0 auto;
    height: 100%;
    /* 부모인 section의 높이가 100vh로 가득차있으니까 얘도 부모기준이라 꽉참 */
}

/* 섹션4 */
#s4 .cont {
    width: 560px;
    background: yellow;
}

/* 수직 가운데로 보내는 3가지 방법
    1. position : absolutre => 다른 애한테 영향X
    2. display : flex => 부모한테 적용해야함
    3. margin으로 강제로 근데 이건 다른 애들한테 영향줌
*/