@charset "utf-8";
/* 웹 폰트 */
/* 구글폰트 */
/* body, p: 
 한글: Noto Sans KR
 영문: Noto Sans
*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
/* 네이버 폰트 */
/* 제목: 나눔스퀘어 네오 */
@font-face { font-family: 'NanumSquareNeo'; src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2'); } 

html { font-size: 10px; } 
body { font-family: "Noto Sans KR", sans-serif; font-size: 1.5rem; color: #333; } 
h1 {font-weight: normal;}
h1,h2,h3 { font-family: "NanumSquareNeo", sans-serif; } 
h1,h3 { font-size: 1.5rem; } 
h2 { font-size: 2.4rem; } 
a { color: #111;} 
::placeholder {font-size: 1.5rem; color: #aaa;}
input, button {
    font:1.5rem 'Noto Sans KR', sans-serif;
}
button {
    color: #fff;
}

/* 헤더 */
/* 섹션1 */
#sec1 h2{
    letter-spacing: 4px;
    font-weight: 400;
}
#sec1 b{
    color: #fff;
}

/* 섹션2 */
#sec2 h3{
    color: #fff;

}

/* 섹션3 */
#sec3 h3{
    font-size: 2.4rem;
}
/* 섹션4 */
/* 푸터 */
footer{
    color: #fff;
}
