@charset "utf-8";

:root{
    font-size: 10px;

    --white: #fff;
    --black: #000;
    --gray1: #111;
    --gray3: #333;
    --graya: #aaa;
    --grayc:#ccc;
}

body{
    font-family:"Noto Sans KR", sans-serif;
    font-size: 1.5rem;
    color:var(--gray3);
}

h1{
    font-weight: normal;
}

h1, h2, h3{
    font-family: "NanumSquareNeo", sans-serif;
}

h1, h3{
    /* 애를 했는데 왜 더 작아지나요 */
    font-size: 1.5rem;
}

h2{
    /* 얘도 왜 반영이 안되나요 */
    font-size: 2.4rem;
}

/* a태그는 글자색 상속받지 않으므로 따로 지정 */
a{
    color:var(--gray1);
}

/* input, button, ::placeholder는 글자색, 글자크기, 글꼴 등을 상속받지 않음 */
input{
    font-size: 1.5rem;
    font-family: "Noto Sans KR", sans-serif;
}

::placeholder {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 1.5rem;
    color: var(--graya);
}

button {
    font-size: 1.5rem;
    color: var(--white);
    font-family: "Noto Sans KR", sans-serif;
}

/* header */
/* section1 */
#sec1 h2{
    letter-spacing:4px;
    font-weight: 400;
}
#sec1 b{
    color:var(--white);
}
/* section2 */
#sec2 h3{
    color:var(--white);
}
/* section3 */
#sec3 h3{
    font-size: 2.4rem;
}
/* section4 */
/* footer */
footer{
    color:var(--white);
}

/* 배경색 */

/* header */
header{
    background: var(--white);
}
/* section1 */
#sec1 b{
    background: var(--black);
}

#sec1 div{
    background: var(--grayc);
}
/* section2 */
#sec2 div{
    background: var(--grayc);
}

/* section3 */
#sec3 div{
    background: var(--grayc);
}

#sec3 a{
    background: var(--grayc);
}
/* section4 */
#sec4 button{
    background: var(--black);
}
#sec4 .map{
    background: var(--grayc);
}
/* footer */
footer{
    background: var(--black);
}