@charset "utf-8";

*{
    box-sizing:border-box;
}

body, h1, h2, h3, p, ul{
    margin: 0;
}

ul{
    list-style:none;
    padding:0;
}

img{
    /* 얘를 주석처리 하면 좀 비슷해짐 */
    width: 100%;
    height:auto;
}

a{
    text-decoration:none;
}

body{
    background: #fff;
}

button{
    border:none;
}

/* 왜 세로크기 반영이 안되나요 */
iframe{
    border:none;
    width: 100%;
    height: 100%;
}