@charset "utf-8";

@import url(reset.css);
@import url(typo.css);

/* 공통 */
.inner{
    width: 1120px;
    height: 500px;
    margin:0 auto;
    background: lightblue;
    display: flex;
    margin-top:48px;
}

/* 섹션2 */
#s2 .inner .left{
    background: red;
    width: 280px;
    height: 500px;
    padding: 20px;
}

.left p{
    margin:8px 8px 24px 6px;
}

#s2 .inner .right{
    background: blue;
}

#tab1 ul{
    display:flex;
    
}

#tab1 ul li{
    background: lime;
    margin-right: 5px;
    width: 200px;
    height: 500px;
}

#tab1 ul li a{
    height: 240px;

}

#s2 #tabs>div ul li:nth-child(1){
    margin-left:5px;
}