@charset "utf-8";

*{
    outline: 1px solid red;
}

* {
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body, ul{
    margin: 0;
}

body{
    color:#333;
    background: #fff;
    font:15px Arial, 굴림, sans-serif;
}

ul{
    list-style:none;
    padding:0;
}

a{
    color:#333;
    text-decoration: none;
}

img{
    max-width: 100%;
    vertical-align: top;
    object-fit: cover;
    height: 100%;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 30px;
    height: 100px;
    width: 1340px;
    margin: 0 auto;
    background: lime;
}

logo{
    width: 190px;
    height: 44px;
}

nav{
    align-self:flex-end;
}

.main{
    display: flex;
    font-size: 1.8rem;
    font-weight: bold;
}

.main>li>a{
    display:inline-block;
    padding:16px 24px;
}

.main>li>a:hover{
    background: #e31a40;
}

.sub{
    font-size: 1.4rem;
    font-weight: normal;
}
#slide{
    height: 350px;
}

.container{
    position: relative;
    top: -100px;
    width: 1340px;
    margin: 0 auto;
}

#link{
    height: 100px;
    background: red;
}

#banner{
    height: 150px;
}

#board{
    height: 300px;
}

footer{
    height: 100px;
}