@charset "utf-8";

/*
style guide(스타일 가이드)
영문 제목(h1~h3),nav안의 a : Georgia, Italic
영문 본문(body, p), Section안의 a : Arial
한글 제목 : Noto Sans KR
한글 본문 : Noto Sans KR

h1 : 50px, 700(글씨 굵기), lh60px
h2 : 30px, 700, lh36px
h3 : 22.5px, 700, lh33.75px
h3 span: 22.5px, 400, lh33.75px
nav a : 20px, lh100px(line-height)
body : 15px, lh22.5px, (22.5 / 15하니까 1.5)본문은 글자 크기의 최소 150~200%사이는 해야함 
ㄴ line-height은 단위생략 가능 그래서 22.5px말고 1.5로 쓰기 => 픽셀단위는 소수점으로 쓰지 않는다!

*/


html {
    font-size: 10px;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    /* 속기형으로 작성 - font : 15px(1.5rem)/1.5 Helvetica, Arial, sans-serif; */
}

h1,
h2,
h3,
nav a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

/* body를 밑에 쓰면 Cascading으로 인해  밑에꺼가 적용될 거 같지만 body가 부모이기 때문에 Cascading이 적용되지 않는다!*/

/* 글자 속성은 자식이 부모한테 상속받는다 박스모델속성은 상속해주지 않는다! */
h1 {
    font-size: 50px;
    color: #fff;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.25rem;
}

a {
    color:#444;
    text-decoration: underline;
}

nav a {
    font-size: 2rem;
    text-decoration: none;
}
/* a태그는 글자색상 상속 받지 못함 */

