@charset "utf-8";
@import url(reset.css);
@import url(typo.css);

/* 배너 영역 */
#banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1340px;
    padding: 50px;
    background: aliceblue;
}

/* 배너 이미지 */
#banner a div {
    width: 120px;
    height: 100px;
    background: #ccc;
}

/* 배너 타이틀 및 설명글 */
#banner>div {
    width: 1000px;
    padding-right: 200px;
}
#banner>div h2 {
    margin-bottom: 16px;
}