@charset "utf-8";

/* 
    전체 선택자 : * (HTML에 쓴 모든 태그<head>부분 제외)

    
*/

/* * {outline: 1px solid lime;} */
/* html, body, nav, h1, h2, h3, main, section, div, header, footer */

/* body안의 모든 요소 */
body * {outline: 1px solid lime;} /* 직접 변하는 모습을 보면서 작업하겠다. */

body { 
    margin: 0;
}

nav {
    height:100;
}

header {
    height: 200px;
}

section {
    width: 940px;
    margin: auto;
}

.home-card
{
    display: flex;
}

.home-icon
{
    width: 100px;
    height: 100px;
}

.home-description
{
    width: 790px;
    height: 140px;
}

