@charset "utf-8";

/* 
    전체 선택자 : * (HTML에 쓴 모든 태그<head>부분 제외)

    
*/

/* * {outline: 1px solid lime;} */
/* html, body, nav, h1, h2, h3, main, section, div, header, footer */

/* body안의 모든 요소 */
body * {outline: 1px solid lime;} /* 직접 변하는 모습을 보면서 작업하겠다. */

body { 
    margin: 0;
}

nav {
    height:100;
}

header {
    height: 200px;
    background: url(./../assets/bg-light.png);
}

section {
    width: 940px;
    margin: 0 auto;
}

.home-card
{
    display: flex;
}

.home-icon
{
    width: 100px;
    height: 100px;
}

.home-description
{
    width: 790px;
    height: 140px;
}

/* 
(속기형)
font

(개별형)
font-family: 글꼴
font-size: 크기
font-style: italic
font-weight: 굵기 (100~900), 400이 기본
 
style guide(스타일 가이드)
영문 제목(h1~h3),nav안의 a : Georgia, Italic
영문 본문(body, p), Section안의 a : Arial
한글 제목 : Noto Sans KR
한글 본문 : Noto Sans KR

h1 : 50px, 700(글씨 굵기), lh60px
h2 : 30px, 700, lh36px
h3 : 22.5px, 700, lh33.75px
h3 span: 22.5px, 400, lh33.75px
nav a : 20px, lh100px(line-height)
body : 15px, lh22.5px, (22.5 / 15하니까 1.5)본문은 글자 크기의 최소 150~200%사이는 해야함 
ㄴ line-height은 단위생략 가능 그래서 22.5px말고 1.5로 쓰기 => 픽셀단위는 소수점으로 쓰지 않는다!


단위 : rem, em, px, %

Color : 
*/


/* bg-color */
nav { 
    background:#eee;
}

.home-icon {
    background: #ddd;
}

.home-description
{
    background:#ccc;
}

body
{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
}

h1, h2, h3, nav a 
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}
/* body를 밑에 쓰면 Cascading으로 인해  밑에꺼가 적용될 거 같지만 body가 부모이기 때문에 Cascading이 적용되지 않는다!*/

/* 글자 속성은 자식이 부모한테 상속받는다 박스모델속성은 상속해주지 않는다! */
h1 
{
    font-size:50px ;
    color:#fff;
}

h2
{
    font-size: 30px;
}

h3{
    font-size: 22.5px;
}

nav a
{
    font-size: 20px;
    color: #444;
}


