@charset "utf-8";

* {
    box-sizing: border-box;
}

body,
ul {
    margin: 0;
}

ul {
    padding-left: 0;
    list-style: none;
}

a {
    text-decoration: none;
    background: #666666;
}

img {
    width: 100%;
}