@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

:root {
    font-size: 10px;
}

body {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 1.5rem;
    line-height: 1.6;
}

h2 {
    font-size: 1.8rem; /* 본문이 15니까 본문보다는 크게 */
}

/* font의 위계 */
/* 1depth, mainmenu */
.main>li>a {
    font-size: 1.6rem;
    color: #999;
}

.main li:hover a {
    color: #fff;
}

/* 2depth, submenu */
.sub li a {
    font-size: 1.4rem;
    color: #333;
}