@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asul:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jomolhari&display=swap');

/* reset */
* {box-sizing: border-box;}

:root {font-size: 12px;}

body,ul {margin: 0 auto;}

ul {
    padding-left: 0;
    list-style: none;
}

a, p, h1, h2, h3 {
    margin: 0;
    text-decoration: none;
    color: #4A433B;
    font: 400 16px "Noto Sans KR",sans-serif;
}

/* //reset */



input {
    padding-left:8px;
    display: block;
}

button {
    border:none;
    background: #000;
    color:#fff;
}


/* 로그인 설명글 */
.login_des {
    width: 1903px;
    height: 178px;
    padding-left: 350px;
    padding-top : 80px;
}

.login_des h2 {
    width: 1903px;
    height: 40px;
    font-weight: 600;
    color: #856F56;
}

.login_des p {
    color:#777;
    padding-bottom:500px;
    /* Q 얘의 영역확인해봤는데 영역이 이상해요 */
    
}

/* 로그인 패이지 전체*/
.full_login {
    padding : 40px 0 0 40px;
    width: 1903px;
    height: 734px;
    display: flex; 
    justify-content: space-evenly;
}


/* 로그인 박스 */
.login_chk {
    position: relative;
    width: 480px;
    height: 240px;
    /* background: red; */
    /* Q 로그인 설명글이랑 로그인박스 전체랑 여백주려고 padding-top했는데 안되서 영역확인해보려했는데 안먹어요 */
}


/* 회원, 비회원 쓰여진 탭부분 */
.login_chk label {
    position:absolute; /* df를 쓰면 login_chk에 들은 모든것들이 가로 배치 되므로 position사용 */
    background: #fff; /* 비활성화 상태 */
    color: #777;
    cursor: pointer;
    width: 240px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    /* border-left:1px solid #856F56;
    border-bottom:1px solid #856F56; */
    /* border-left:1px solid #856F56;
    border-top:1px solid #856F56; */
    z-index:99;
}

/* 비회원 탭을 오른쪽으로 240px만큼 이동 */
#btn2 + label {
    left:240px;
}

/* 탭의 콘텐츠 영역 */
.login_chk div {
    display: none; /* 비회원탭의 콘텐츠 영역을 안보이게함 */
    position: absolute; /* 로그인 전체 박스랑 겹쳤으므로 */
    width: 480px;
    /* border: 1px solid; */
    padding-top: 48px;
    top:30px;
}

.login_chk input[type="radio"] {
    display: none;
    /* 탭에 라디오버튼 안보이게 숨김 */
}

/* 눌러진 탭 */
.login_chk input:checked+label {
    background:#fff;
    color: black;
    border-left:1px solid #856F56;
    border-top:1px solid #856F56;
    border-right:1px solid #856F56;
}

/* 눌러진 탭의 콘텐츠 영역 */
.login_chk input:checked+label+div {
    display: block;
    /* left:-50px;
    top:50px; */
}

/* Q 얘는 왜 인식이 안되나요 .member가 input을 담고 있어서 안되는 건줄 알고 밑에 input부분 주석처리해도 안먹어요*/
/* .member1 {
    width: 480px;
    height:214px;
    background: red; 
} */

/*회원 탭 콘텐츠 안에 아이디, 비밀번호 */
  .member1 input {
    width: 480px;
    height: 48px;
}

.id {
    border: 1px solid #856F56;
}

.pw {

    margin: 20px 0 20px 0;
    border: 1px solid #856F56;
}

/* 회원 탭 콘텐츠 안에 로그인버튼 */
.member1 button {
    width: 480px;
    height: 56px;
    background: #856F56;
    font-size: 18px;
}

/* .etc {
    background: red;
} */
/* .member2 {
    width: 480px;
    height: 234px;
} */

/* 비회원 탭 콘텐츠 안에 예약번호, 이름, 010*/
.member2 input {
    width: 480px;
    height: 48px;
}

.res_num {
    border: 1px solid #856F56;
}
.name {
    margin: 20px 0 20px 0;
    border: 1px solid #856F56;
}
.phone {
    border: 1px solid #856F56;
}

/* 비회원 탭 콘텐츠 안에 예약내역조회버튼 */
.member2 button {
    width: 480px;
    height: 56px;
}

.res_btn {
    margin: 20px 0 20px 0;
    background: #856F56;
    font-size: 18px;
}

/* 오른쪽에 회원가입 권유 */
.recommand_join{
    width: 480px;
    height: 176px;
    padding-top : 64px;
}

.recommand_join h2{
    font-size: 18px;
    height: 30px;
    padding-bottom:24px;
    color : #856F56;
    font-weight: 600;
}

.recommand_join p {
    height: 70px;
    font-size: 16px;
}

.recommand_join button{

    width: 480px;
    height: 56px;
    background: #fff;
    color: #856F56; 
    border : 1px solid #856F56;
}

/* bg-color */
/* 회원 탭의 콘텐츠 영역 */
.member1 {
    background: #fff;
    /* border:1px solid; */
}

/* 비회원 탭의 콘텐츠 영역 */
.member2 {
    background: #fff;
    /* border:1px solid; */
}


/* form */
input {
    width: 100%;
    padding-left: 8px;
}

button {
    /* padding: 8px 16px; */
    border: none;
    background: #000;
    color: #fff;
}