@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asul:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jomolhari&display=swap');

/* reset */
* {box-sizing: border-box;}

:root {font-size: 12px;}

body,ul {margin: 0 auto;}

ul {
    padding-left: 0;
    list-style: none;
}

a, p, h1, h2, h3 {
    margin: 0;
    text-decoration: none;
    color: #4A433B;
    font: 400 16px "Noto Sans KR",sans-serif;
}

/* //reset */

/* section1 */
.res_des p{
    outline: solid;
    width: 1903px;
    height: 130px;
    padding: 30px 0 0 100px;

}

.calender p{
    outline: solid;
    width: 1903px;
    height: 580px;

}

.choice p{
    outline: solid;
    width: 1903px;
    height: 259px;

}

.search div{
    outline: solid;
    width: 1903px;
    height: 130px;

}
